<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SimpleDemo.Properties.Settings>
            <setting name="InputChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OutputChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SamplingRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowingIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FunctionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FFTLinesIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Averages" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputFrequency" serializeAs="String">
                <value>1031</value>
            </setting>
            <setting name="OutputAmplitude" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="SpectraMax" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SpectraDecades" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OutputSignalTypeIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OutputWaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputWaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScaleInput" serializeAs="String">
                <value>5.72</value>
            </setting>
            <setting name="FullScaleOutput" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="_BufferSizeIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GcxSettings1" serializeAs="String">
                <value>&lt;gcxDocument version="17.0"&gt;
  &lt;gcxData&gt;
    &lt;GCXCTRL sizeExtent_x="13414" sizeExtent_y="10345" designTimeSaved="0" graphLayers="1"/&gt;
    &lt;GRAPH_GDI state="0" viewports="1" major_h="1" major_v="1" minor_h="0" minor_v="0"&gt;
      &lt;cursor name="Main" visible="1" active="1" align="1" color="4718664" hot="0" style="0" color2="16777215"/&gt;
      &lt;Main horizontal_line="1" tacho_identification="1"/&gt;
      &lt;cursor name="Delta" visible="0" active="0" align="1" color="65535" hot="0" style="0" color2="16777215"/&gt;
      &lt;Delta tacho_identification="1"/&gt;
      &lt;cursor name="Reference" visible="0" active="0" align="1" color="2263842" hot="0" style="0" color2="16777215"/&gt;
      &lt;Reference horizontal_line="1" tacho_identification="1"/&gt;
      &lt;cursor name="Marker1" visible="0" active="0" align="1" color="5275647" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="Marker2" visible="0" active="0" align="1" color="17919" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="Harmonic" visible="0" active="0" align="1" color="2237106" hot="0" style="0" color2="16777215"/&gt;
      &lt;Harmonic show_all_frequencies="1" harmonic_count="10"/&gt;
      &lt;cursor name="Sideband" visible="0" active="0" align="1" color="3618615" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="TagCursor" visible="0" active="0" align="1" color="14822282" hot="0" style="0" color2="16777215"/&gt;
      &lt;TagCursor NextUniqueID="1001" SearchSensitivity="1.5" SearchHalfWidth="9" SearchMaximumExtremaCountWanted="0" LevelFilterEnabled="0" LevelFilterValue="0" TagsortMode="1" TagCursorInfoListCount="0"/&gt;
      &lt;view name="Default area" state="16" header="0" text="static text" complexEnabled="0" secondaryViewportEnabled="0" secondaryViewportAtBottom="1" percentageTopSubviewport="50" secondaryCoordinateIsPhase="0" secondaryViewportAtBottom_IfPhase="0" percentageTopSubviewport_IfPhase="30" nyquistIsSquare="0"/&gt;
    &lt;/GRAPH_GDI&gt;
    &lt;XAXIS state="0" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="0" max="1" tickstep="0" fixticks="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" minorTicks="0"/&gt;
    &lt;YAXIS state="0" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_2 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_3 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_4 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_5 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT1 state="0" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT2 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT3 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT4 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT5 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;ZAXIS state="0" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_2 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_3 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_4 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_5 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;TITLE/&gt;
    &lt;OVERALL state="0"/&gt;
    &lt;READOUT state="0" pos="0.761364" hideNA="1" allFunctions="0" fullScreen="0" hideSplitter="0"&gt;
      &lt;DISPSETUP&gt;
        &lt;attr name="Cursor values" isUserText="1" isTagVector="0" bold="1" italic="0" unique="0"/&gt;
        &lt;attr name="X: " unit="xAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="1"/&gt;
        &lt;attr name="Y: " unit="yAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="2"/&gt;
        &lt;attr name="Z: " unit="zAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="3"/&gt;
        &lt;attr name="y: " unit="yAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="32"/&gt;
        &lt;attr name="Data Quality : " attrName="Data Quality" groupName="Status" groupType="BKIndexAttributeGroup" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" dir="2"/&gt;
        &lt;attr name="Channel Status : " attrName="Channel Status" groupName="Status" groupType="BKIndexAttributeGroup" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" dir="2"/&gt;
      &lt;/DISPSETUP&gt;
    &lt;/READOUT&gt;
    &lt;LAYOUT state="0" fixedId="{00000000-0000-0000-0000-000000000000}" mode="1"/&gt;
    &lt;STRFORMAT state="0"/&gt;
    &lt;LEGEND state="0"&gt;
      &lt;DISPSETUP&gt;
        &lt;attr attrName="title" groupName="Buffers" groupType="BKBuffersAttributeGroup"/&gt;
        &lt;attr attrName="name" groupName="Analyzer" groupType="BKAnalyzerAttributeGroup"/&gt;
        &lt;body style="19" delimiter=" \ " moved="0"/&gt;
        &lt;fpos x="0" y="0" cx="0" cy="0"/&gt;
      &lt;/DISPSETUP&gt;
    &lt;/LEGEND&gt;
    &lt;REGION_SELECTOR state="0" enabled="0" left="0.3" right="0.7" low="0.7" high="0.3" format="3" commandVisibility="526"/&gt;
    &lt;CurveSmoothing state="0" progid="BKCurveSmoothing.CurveSmoothing"&gt;
      &lt;CurveSmoothing SmoothingType="1" WindowType="1" SmoothingMode="1" Octave="1" Order="1"&gt;
        &lt;Markers/&gt;
      &lt;/CurveSmoothing&gt;
    &lt;/CurveSmoothing&gt;
    &lt;ReferenceCurve/&gt;
    &lt;GCXDROP state="0"/&gt;
  &lt;/gcxData&gt;
&lt;/gcxDocument&gt;
</value>
            </setting>
            <setting name="GcxSettings2" serializeAs="String">
                <value>&lt;gcxDocument version="17.0"&gt;
  &lt;gcxData&gt;
    &lt;GCXCTRL sizeExtent_x="13414" sizeExtent_y="10345" designTimeSaved="0" graphLayers="1"/&gt;
    &lt;GRAPH_GDI state="0" viewports="1" major_h="1" major_v="1" minor_h="0" minor_v="0"&gt;
      &lt;cursor name="Main" visible="1" active="1" align="1" color="4718664" hot="0" style="0" color2="16777215"/&gt;
      &lt;Main horizontal_line="1" tacho_identification="1"/&gt;
      &lt;cursor name="Delta" visible="0" active="0" align="1" color="65535" hot="0" style="0" color2="16777215"/&gt;
      &lt;Delta tacho_identification="1"/&gt;
      &lt;cursor name="Reference" visible="0" active="0" align="1" color="2263842" hot="0" style="0" color2="16777215"/&gt;
      &lt;Reference horizontal_line="1" tacho_identification="1"/&gt;
      &lt;cursor name="Marker1" visible="0" active="0" align="1" color="5275647" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="Marker2" visible="0" active="0" align="1" color="17919" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="Harmonic" visible="0" active="0" align="1" color="2237106" hot="0" style="0" color2="16777215"/&gt;
      &lt;Harmonic show_all_frequencies="1" harmonic_count="10"/&gt;
      &lt;cursor name="Sideband" visible="0" active="0" align="1" color="3618615" hot="0" style="0" color2="16777215"/&gt;
      &lt;cursor name="TagCursor" visible="0" active="0" align="1" color="14822282" hot="0" style="0" color2="16777215"/&gt;
      &lt;TagCursor NextUniqueID="1001" SearchSensitivity="1.5" SearchHalfWidth="9" SearchMaximumExtremaCountWanted="0" LevelFilterEnabled="0" LevelFilterValue="0" TagsortMode="1" TagCursorInfoListCount="0"/&gt;
      &lt;view name="Default area" state="16" header="0" text="static text" complexEnabled="0" secondaryViewportEnabled="0" secondaryViewportAtBottom="1" percentageTopSubviewport="50" secondaryCoordinateIsPhase="0" secondaryViewportAtBottom_IfPhase="0" percentageTopSubviewport_IfPhase="30" nyquistIsSquare="0"/&gt;
    &lt;/GRAPH_GDI&gt;
    &lt;XAXIS state="0" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="0" max="1" tickstep="0" fixticks="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" minorTicks="0"/&gt;
    &lt;YAXIS state="0" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_2 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_3 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_4 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_5 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT1 state="0" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT2 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT3 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT4 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;YAXIS_RIGHT5 state="17" unit="" title="" type="5" zoomStart="0" zoomStop="100000" tickstep="0" fixticks="0" tickstepSecondary="30" fixticksSecondary="0" min="0" maxabs="1" range="4" scale="20" useNice="1" activeOnly="0" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1" secondaryMin="-200" secondaryMax="200" secondaryIsPhase="1" secondaryLockMin="0" secondaryLockMax="0"/&gt;
    &lt;ZAXIS state="0" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_2 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_3 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_4 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;ZAXIS_5 state="17" unit="" title="" type="0" zoomStart="0" zoomStop="100000" min="-1" max="1" lockMin="0" lockMax="0" numDigits="3" trailingZeros="0" numFormat="1"/&gt;
    &lt;TITLE/&gt;
    &lt;OVERALL state="0"/&gt;
    &lt;READOUT state="0" pos="0.761364" hideNA="1" allFunctions="0" fullScreen="0" hideSplitter="0"&gt;
      &lt;DISPSETUP&gt;
        &lt;attr name="Cursor values" isUserText="1" isTagVector="0" bold="1" italic="0" unique="0"/&gt;
        &lt;attr name="X: " unit="xAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="1"/&gt;
        &lt;attr name="Y: " unit="yAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="2"/&gt;
        &lt;attr name="Z: " unit="zAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="3"/&gt;
        &lt;attr name="y: " unit="yAxis" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" key="32"/&gt;
        &lt;attr name="Data Quality : " attrName="Data Quality" groupName="Status" groupType="BKIndexAttributeGroup" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" dir="2"/&gt;
        &lt;attr name="Channel Status : " attrName="Channel Status" groupName="Status" groupType="BKIndexAttributeGroup" isUserText="0" isTagVector="0" bold="0" italic="0" unique="0" dir="2"/&gt;
      &lt;/DISPSETUP&gt;
    &lt;/READOUT&gt;
    &lt;LAYOUT state="0" fixedId="{00000000-0000-0000-0000-000000000000}" mode="1"/&gt;
    &lt;STRFORMAT state="0"/&gt;
    &lt;LEGEND state="0"&gt;
      &lt;DISPSETUP&gt;
        &lt;attr attrName="title" groupName="Buffers" groupType="BKBuffersAttributeGroup"/&gt;
        &lt;attr attrName="name" groupName="Analyzer" groupType="BKAnalyzerAttributeGroup"/&gt;
        &lt;body style="19" delimiter=" \ " moved="0"/&gt;
        &lt;fpos x="0" y="0" cx="0" cy="0"/&gt;
      &lt;/DISPSETUP&gt;
    &lt;/LEGEND&gt;
    &lt;REGION_SELECTOR state="0" enabled="0" left="0.3" right="0.7" low="0.7" high="0.3" format="3" commandVisibility="526"/&gt;
    &lt;CurveSmoothing state="0" progid="BKCurveSmoothing.CurveSmoothing"&gt;
      &lt;CurveSmoothing SmoothingType="1" WindowType="1" SmoothingMode="1" Octave="1" Order="1"&gt;
        &lt;Markers/&gt;
      &lt;/CurveSmoothing&gt;
    &lt;/CurveSmoothing&gt;
    &lt;ReferenceCurve/&gt;
    &lt;GCXDROP state="0"/&gt;
  &lt;/gcxData&gt;
&lt;/gcxDocument&gt;
</value>
            </setting>
            <setting name="OutputSignalTypeIndex2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OutputFrequency2" serializeAs="String">
                <value>515</value>
            </setting>
            <setting name="OutputAmplitude2" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BufferSizeSelectedIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Recording" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleDemo.Properties.Settings>
    </userSettings>
</configuration>
